@import "tailwindcss";

@layer base {
  body {
    font-family: 'Vazirmatn', system-ui, -apple-system, sans-serif;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
}
