@import "tailwindcss";

@layer base {
  body {
    font-family: 'B Nazanin', 'BNazanin', 'B Mitra', 'BMitra', 'Shabnam', 'Sahel', 'Samim', 'Vazirmatn', 'Markazi Text', 'Amiri', 'Noto Naskh Arabic', Tahoma, system-ui, -apple-system, sans-serif;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
}
